/* @import url("https://fonts.googleapis.com/css?family=Lato|Poppins"); */
@import "./node_modules/sal.js/dist/sal.css";
@import "./node_modules/react-big-calendar/lib/css/react-big-calendar.css";
@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --primaryColor: #3fd0d4;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 2px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --top-selected-color: #5ec2d7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./src/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./src/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./src/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./src/fonts/Poppins-Medium.ttf") format("truetype");
}

body {
  font-family: "Poppins-Regular", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.4;
  font-size: 1rem;
  margin: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins-Regular", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 1.25rem;
}

div h1,
h2,
h3,
h4,
h5,
h6 {
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

button {
  font-family: "Poppins", sans-serif;
}

button:focus {
  outline: none;
}

.btn-white,
.btn-primary {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: 2px solid var(--primaryColor);
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.heightElement {
  /* min-height: calc(100vh); */
  min-height: calc(100vh - 189px);
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-exit {
  opacity: 1;
}

.example-exit.example-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.menu-enter {
  top: 0;
}

.menu-enter.menu-enter-active {
  top: -100vh;
}

.menu-exit {
  top: -100vh;
}

.menu-exit.menu-exit-active {
  top: 70px;
}

.menu2-enter {
  top: 0;
}

.menu2-enter.popup-enter-active {
  top: -100vh;
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.menu2-exit {
  top: -100vh;
}

.menu2-exit.popup-exit-active {
  top: 70px;
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.alert-enter {
  opacity: 0.01;
}

.alert-enter.alert-enter-active {
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.alert-exit {
  opacity: 1;
}

.alert-exit.alert-exit-active {
  opacity: 0.01;
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.alert-enter {
  opacity: 0.01;
  transform: scale(0.1);
}

.textDelay-enter {
  opacity: 0.01;
  transform: scale(0.1);
}

.textDelay-enter.textDelay-enter-active {
  opacity: 1;
  transform: scale(1);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.textDelay-exit {
  opacity: 1;
  transform: scale(1);
}

.textDelay-exit.textDelay-exit-active {
  opacity: 0.01;
  transform: scale(0.1);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.textAreaDelay-enter {
  opacity: 0.01;
  transform: scale(0.1);
}

.textAreaDelay-enter.textAreaDelay-enter-active {
  opacity: 1;
  transform: scale(1);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.textAreaDelay-exit {
  opacity: 1;
  transform: scale(1);
}

.textAreaDelay-exit.textAreaDelay-exit-active {
  opacity: 0.01;
  transform: scale(0.1);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  /* transition-delay: 0.5s; */
  transition-timing-function: ease;
}

.opacitySpinner-enter {
  opacity: 0.01;
}

.opacitySpinner-enter.opacitySpinner-enter-active {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.opacitySpinner-exit {
  opacity: 1;
}

.opacitySpinner-exit.opacitySpinner-exit-active {
  opacity: 0.01;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.popup-enter {
  opacity: 0.01;
  transform: scale(0.1);
}

.popup-enter.popup-enter-active {
  opacity: 1;
  transform: scale(1);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.popup-exit {
  opacity: 1;
  transform: scale(1);
}

.popup-exit.popup-exit-active {
  opacity: 0.01;
  transform: scale(0.1);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.popup2-enter {
  opacity: 0.01;
  transform: translateY(-100vh);
}

.popup2-enter.popup2-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.popup2-exit {
  opacity: 1;
  transform: translateY(0);
}

.popup2-exit.popup2-exit-active {
  opacity: 0.01;
  transform: translateY(100vh);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.popup3-enter {
  /* opacity: 0.01; */
  transform: translateY(-100%);
}

.popup3-enter.popup3-enter-active {
  /* opacity: 1; */
  transform: translateY(0);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.popup3-exit {
  /* opacity: 1; */
  transform: translateY(0);
}

.popup3-exit.popup3-exit-active {
  /* opacity: 0.01; */
  transform: translateY(100%);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.material-checkbox {
  padding-left: 30px;
  margin-bottom: 1em;

  color: rgba(0, 0, 0, 0.54);
}

.material-checkbox__image {
  box-sizing: border-box;
  width: 20px !important;
  height: 20px !important;
  border: 2px solid currentColor;
  border-radius: 2px;
  transition: background-color 0.5s, border-color 0.5s;
  cursor: pointer;
}
.material-checkbox__image::before {
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 50%;
  content: "";
  position: absolute;
  display: block;
  height: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s;
  width: auto;
}

.material-checkbox__label {
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);

  cursor: pointer;
}

.material-checkbox__input:focus + .material-checkbox__image::before {
  background-color: rgba(0, 0, 0, 0.12);
  left: -8px;
  top: -8px;
  right: -8px;
  bottom: -8px;
}

.material-checkbox__input:disabled + .material-checkbox__image,
.material-checkbox__input:disabled
  + .material-checkbox__image
  + .material-checkbox__label {
  cursor: default;
  color: rgba(0, 0, 0, 0.38);
}

.material-checkbox__input:checked + .material-checkbox__image {
  background-color: rgba(94, 194, 215, 0.87);
  border-color: rgba(0, 0, 0, 0);
}
.material-checkbox__input:checked + .material-checkbox__image.md-ink-ripple {
  background-color: rgba(255, 82, 82, 0.87);
  border-color: rgba(0, 0, 0, 0);
}
.material-checkbox__input:checked + .material-checkbox__image::after {
  border-color: rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 4.6666px;
  top: 0.2222px;
  display: table;
  width: 6.66667px;
  height: 13.33333px;
  border-width: 2px;
  border-style: solid;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  content: "";
}

.material-checkbox__input:checked
  + .material-checkbox__image.md-ink-ripple::before {
  background-color: rgba(255, 82, 82, 0.26);
}

.material-checkbox__input:checked:disabled + .material-checkbox__image {
  background-color: rgba(0, 0, 0, 0.38);
}
.material-checkbox__input:checked:disabled + .material-checkbox__image::before {
  display: none;
}

.material-checkbox__input_indeterminate + .material-checkbox__image::after {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: table;
  width: 12px;
  height: 2px;
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  content: "";
}

textarea:focus,
textarea:active {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #5ec2d7;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #0597a7;
}

.ReactCollapse--collapse {
  transition: height 500ms ease;
}

.rbc-time-header-gutter {
  width: 53.7188px !important;
  min-width: 53.7188px !important;
  max-width: 53.7188px !important;
}

@keyframes bellActionAnimate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-40deg);
  }
  40% {
    transform: rotate(40deg);
  }
  60% {
    transform: rotate(-40deg);
  }
  80% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.leaflet-container {
  width: 100%;
  height: 300px;
}
